~$cumentation.docx
documentation.docx
index.html
cross-browser tests/desktop/chrome/Screenshot 2021-11-13 010237.png
cross-browser tests/desktop/chrome/Screenshot 2021-11-13 010347.png
cross-browser tests/desktop/chrome/Screenshot 2021-11-13 010402.png
cross-browser tests/desktop/chrome/Screenshot 2021-11-13 010419.png
cross-browser tests/desktop/chrome/Screenshot 2021-11-13 010443.png
cross-browser tests/desktop/edge/Screenshot 2021-11-13 010824.png
cross-browser tests/desktop/edge/Screenshot 2021-11-13 010844.png
cross-browser tests/desktop/edge/Screenshot 2021-11-13 010942.png
cross-browser tests/desktop/edge/Screenshot 2021-11-13 010956.png
cross-browser tests/desktop/edge/Screenshot 2021-11-13 011011.png
cross-browser tests/desktop/firefox/Screenshot 2021-11-13 010616.png
cross-browser tests/desktop/firefox/Screenshot 2021-11-13 010654.png
cross-browser tests/desktop/firefox/Screenshot 2021-11-13 010713.png
cross-browser tests/desktop/firefox/Screenshot 2021-11-13 010727.png
cross-browser tests/desktop/firefox/Screenshot 2021-11-13 010748.png
W3C CSS Validator results for TextArea (CSS level 3 + SVG).pdf
Testing.zip
documentation/*
Galambos_459230413_WD4.zip
